
spring:
  application:
    name: pet-store
  datasource:
    url: jdbc:h2:mem:petstore
    driver-class-name: org.h2.Driver
    username: h2
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  jackson:
    serialization:
      indent_output: true

server:
  port: 8080

logging:
  level:
    mk.ukim.finki.wp.petstore: DEBUG
    org.hibernate.SQL: DEBUG